.premiere-container {
    width: 100%;
    margin-top: 50px;
  }
  
  .premiere-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .premiere-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
  
  @media (max-width: 1024px) {
    .premiere-container {
      margin-left: 0;
      padding: 30px 15px;
      margin-top: 10px;
    }
  
    .premiere-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .premiere-container {
      padding-left: 15px;
    }
  
    .premiere-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .pagination button {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #444;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .pagination button:hover {
    background-color: #444;
  }
  
  .pagination button.active {
    background-color: #8c00ff;
    font-weight: bold;
    border: none;
  }
  
  .pagination .dots {
    padding: 8px 14px;
    color: #aaa;
    font-weight: bold;
  }
  
  .movies-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .filters {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* React Select custom width */
  .filters .dropdown__control {
    background-color: #1a1a1a;
    border: 1px solid #8000ff;
    color: white;
    min-width: 180px;
    font-size: 14px;
    border-radius: 6px;
  }
  
  .filters .dropdown__single-value {
    color: white;
  }
  
  .filters .dropdown__input {
    color: white;
  }
  
  .filters .dropdown__menu {
    z-index: 9999;
    background-color: #111;
  }
  
  .filters .dropdown__placeholder {
    color: #aaa;
  }
  
  /* Filtrlash tugmasi */
  .filter-button-2 {
    background-color: #8000ffe7;
    color: white;
    border: none;
    padding: 7.5px 86px;
    width: 240px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #7700ffc5;
  }
  
  /* Responsive uslub */
  @media (max-width: 768px) {
    .movies-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  
    .filters {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  
    .filters .dropdown__control {
      width: 100%;
    }
  
    .filter-button {
      width: 100%;
      text-align: center;
    }
  }
  
  .filter-select-2 {
    min-width: 270px;
  }
  
  @media (max-width: 768px) {
    .filter-select {
      width: 100%;
    }
    .filter-button-2 {
      width: 100%;
    }
  }
  
  body.light-mode  .premiere-title {
    color: #000;
  } 

  body.light-mode  .pagination button {
    background-color: #b1b1b1;
    color: #000;
  }
  body.light-mode  .pagination button:hover{
    background-color: #919191;
  }
  body.light-mode  .pagination button.active {
    background-color: #8c00ff;
    color: white;
  }